@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7.1%;
    --foreground: 0 0% 100%;

    --card: 0 0% 7.5%;
    --card-foreground: 0 0% 100%;

    --popover: 240 3.6% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 240 2.9% 13.7%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 3.1% 12.5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 3.1% 12.5%;
    --muted-foreground: 0 0% 100%;

    --accent: 240 3.1% 12.5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 0% 7.1%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 3.6% 11%;
    --input: 240 2% 9.6%;
    --ring: 240 2.9% 13.7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
